name: unzip

on:
  push:
    branches: [ main ]

permissions:
  contents: write   # ← 就是这一行解决 403

jobs:
  unzip:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: List files
        run: ls -l

      - name: Unzip
        run: unzip -o AndroidImgui-2.0.zip

      - name: Remove zip
        run: rm AndroidImgui-2.0.zip

      - name: Commit files
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add .
          git commit -m "Unzip AndroidImgui-2.0"
          git push
