name: unzip

on:
  push:
    paths:
      - "AndroidImgui-2.0.zip"

jobs:
  unzip:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: List files
        run: ls -la

      - name: Unzip
        run: unzip AndroidImgui-2.0.zip

      - name: Remove zip
        run: rm AndroidImgui-2.0.zip

      - name: Commit files
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add .
          git commit -m "Unzip AndroidImgui-2.0"
          git push
